/*Contente*/
ol,
ul,
li {
    list-style: none;
    padding: 0;
}

.pokeball{
    width: 7vw;
    margin-top: -17vh;
    margin-left: 12vw;
    position: absolute; 
}
.logo{
    width: 25vw;
    
}

/*Containers*/
#pokeChoose {
    padding: 0;
    margin: 0;

    height: 60vh;
}

.Information-Details {
    padding: 1rem;
    background-color: #fff;
    width: 55vw;
    height: 75vh;
    border-radius: 5vh;
    text-align: center;
    background-image: url('../img/o8a7u5vl6hb41.png');
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

/*image*/
#pokeChoose #img {
    border-radius: 10%;
    height: 10vw;
}


.full-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*Information*/
#information {
    margin: 0;
    width: 53vw;
    border-radius: 2vh;
    box-sizing: border-box;
    opacity: 0.9;
    height: 43vh;
}

#Skills-inform {
    margin-left: 6vh;
    position: absolute;
    margin-top: 1vh;
    margin-left: 5.5vw;
}
#Skills-inform span {
    background-color: #ebe9e9;
    border-radius: 20%;
    padding: 0.8vh;
    margin: 0.5vh;
    color: #000;
    font-size: 2vh;
}

#status-inform {
    position: absolute;
    margin-left: 25vh;
    margin-top: 0.7vh;
    width: vw;
    margin-left: 14.5vw;
    align-items: center;
}


#status-inform span {
    border-radius: 25%;
    padding: 0.5vh;
    
    margin: 0.5vh;
    width: 12vh;
    font-size: 1.7vh;
    filter: brightness(1.1);
}
#status-inform span:nth-child(odd) {
    margin-left: 13vh;
}

#extra-inform {
    position: absolute;
    margin-left: 0vh;
    margin-top: 0.7vh;
    margin-left: 36.7vw;
    text-align: center;
}

#extra-inform span {
    border-radius: 25%;
    padding: 0.8vh;
    margin: 0.5vh;
    color: #000;
    width: 15vh;
    font-weight: bolder;
    font-size: 2vh;
    align-items: center;
    text-align: center;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

/*buttons*/
.buttons {
    display: flex;
    justify-content: space-around;
    font-size: 2vh;
}

#skills,
#Status,
#extra {
    background-color: #bccbcb;
}

.type {
    border-radius: 15%;
    width: 9vh;
    padding: 0.4vh;
    display: inline-block;
    text-transform: uppercase;
    color: #ffff;
    filter: brightness(1.2);
    margin-left: 1vw;
    text-shadow: #000 1px 1px;
}

.espaco {
    background-color: #ebe9e9;
}

.hp,
.attack,
.defense,
.special_attack,
.special_defense,
.speed {
    background-color: #b9b7cff3;
}

#extradt,
#extradt1,
#extradt2 {
    background-color: #b9b7cff3;
}

#extradt1 {
    font-size: 0.8vw;
    
}

.detail .types {
    margin-right: auto;
    margin-left: auto;
}



/*name*/

.pokemon .name {
    font-size: 2vw;
    text-transform: capitalize;
}


/*status*/
.types {
    height: 2vw;
    width: 50vw;
}


/*Color type*/
.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}
