* {
    color: black;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


header {
    margin-left: 200px;
}

body {
    background-color: #ececec;
}

.content {
    padding: 1rem;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: #fff;
    padding: .25rem .5rem;
    font-size: .625rem;
    margin: .25rem 0;
    cursor: pointer;
}